li a {
    color: black;
}



body {
    background-image: url("images/background.png");
    background-size:cover;
      padding: 0;
  margin: 0;


}



.logo {

      padding: 10px;
  margin: 10px;
    }

.content {
      /*background-image: url("images/background.png");*/
      max-width: 100%;
      border-bottom: 3px solid #4588ba; 
      margin-bottom:10px;
        border-top: 3px solid #4588ba; 
      margin-top:10px;
    }

.forms {
      padding: 10px;
  margin: 10px;
    }

.bottom {
          /*padding: 5px;*/
  margin: 15px;

}





input[type=text], input[type=password], input[type=email] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background:#ffffff; 
	}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#abf; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}