{% extends "newscontent/base.html"  %}
{% load static %}
{% block title %}
    Blog - {{ block.super }}
{% endblock %}

{% block styling_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'newscontent/style.css' %}" />
{% endblock %}

{% block content %}

    <div class="content" style="">
        <div class="section-inner clearfix">

        <p>Hello {{ request.user.username }}!</p>

        <p><a href="{% url 'polls:index' %}">Click here to answer DeepGlimpse's polling questions!</a></p>

        <p>Your Details:</p>

        <ul>
<!--             <li>Email: {{ request.user.email|default:"NA" }}</li>
            <li>SuperUser: {{ request.user.is_superuser }}</li>
            <li>Staff: {{ request.user.is_staff }}</li>
            <li>Date Joined: {{ request.user.date_joined }}</li> -->
<!--             <li>Last Login: {{ request.user.last_login }}</li>
            <li>ZIP code: {{ zip_code }}</li> -->
            <li>You are logging in from {{ my_city }}. :)</li>
        </ul>

        <p><a href="{% url 'newscontent:logout' %}">Logout</a></p>

        </div>
    </div>

{% endblock %}